.card-table{
    margin: 3rem;
    padding: 1rem;
    
    
}

.input-mine1{
    width: 10rem;
    
}



span{
    color: #DFF6FF;
}

.btn-mine{
    color: white;
    background-color: #256D85;
    transition: 1s;
}

.btn-mine:hover{
    color: white;
    background-color: #06283D;
    scale: 1.1;
}

.btn-mine-1{
    color: white;
    background-color: #06283D;
    transition: 1s;
    border-radius: 50%;
}

.btn-mine-1:hover{
    color: white;
    background-color: #256D85;
    scale: 1.1;
}

.btn-menu{
    color: black;
    background-color: #DFF6FF;
    margin: 2px;
    transition: 1s;
}
.btn-menu:hover{
    color: white;
    background-color: #256D85;
    scale: 1.1;
}