section{
  height: 100vh;

}

.card-mine{
  width: 30rem;
  transition: 1s;
  border-radius: 15px;
  background-color: #d2d2d3;
}


.card-mine:hover{
  scale: 1.05;
}


.mttt{
  margin-top: 3rem;
}

p a{
  font-size: large;
  color: white; 
  transition: 0.3s;
}

p a:hover{
  color: black;
}


.card-table{
  margin: 5px;
  padding: 5rem;

}

.boton1{
  background-color: #226ac1;
  border-color: #9eb7d4;
  transition: 1s;
}

.boton1:hover{
  background-color: #143f74;
  border-color: #9eb7d4;
  scale: 1.1;
}

.boton2{
  border-radius: 50%;
  background-color: #1fb627;
  border-color: #f9f9f9;
  transition: 1s;
}

.boton2:hover{
  border-radius: 50%;
  background-color: #1fb627;
  border-color: #f9f9f9;
  scale: 1.1;
}

.boton3{
  background-color: #152846;
  border-color: #f9f9f9;
  transition: 1s;
}

.boton3:hover{
  background-color: #152846;
  border-color: #f9f9f9;
  scale: 1.1;
}

.input-mine1{
  width: 90px;
}